<div class="blog-post" *ngFor="let comment of tabComments">
    <h5>Content</h5>
    <p>{{comment.text}}</p>
    <p class="blog-post-meta">Created at: {{comment.createdAt| date: 'MMMM dd, yyyy, HH:mm'}} <br> Updated at: {{comment.updatedAt| date: 'MMMM dd, yyyy, HH:mm'}}
    </p>
    <nav class="blog-pagination">
        <button (click)="updateComment(comment.id)" class="btn btn-outline-success" style="margin-left: 10px">Update</button>
        <button (click)="deleteComment(comment.id)" class="btn btn-outline-danger" style="margin-left: 10px">Delete</button>
    </nav>
</div>

<div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Comment added</strong>
    <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="text">
            New Comment
        </label>
        <textarea type="text" class="form-control" id="text" [(ngModel)]="commentaire.text" name="text"></textarea>
    </div>
    <nav class="blog-pagination">
        <button type="submit" class="btn btn-outline-primary">Add comment</button>
    </nav>
</form>