<div class="col-md-8 offset-md-2">
    <h3>Update Post</h3>
    <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Update done</strong>
        <div><a href="/posts">Return to the post list</a></div>
        <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label for="title">
                Title
            </label>
            <input type="text" class="form-control" id="title" [(ngModel)]="post.title" name="title">
        </div>
        <div class="form-group">
            <label for="description">
                Description
            </label>
            <input type="text" class="form-control" id="description" [(ngModel)]="post.description" name="description">
        </div>
        <div class="form-group">
            <label for="content">
                Content
            </label>
            <textarea type="text" class="form-control" id="content" [(ngModel)]="post.content" name="content"></textarea>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>